.page {

	&-header {

		@media @min {
			height: 180px;
		}
		@media @mobile {
			height: 220px;
		}
		@media @tablet {
			padding: 0;
			height: 220px;
		}
		@media @desktop {
			height: 250px;
		}

		&_compact {
			height: auto;
		}
		
		position: relative;

		&.chin {
			&-sm {
				padding-bottom: @spaced*2;
			}
		}

		&-content {
			.center();
			position: relative;
			z-index: 1;
			color: @white;
		}

		&-bg {
			background: @blue;
			.cover();
			width: 9999px;
			left: -999px;
		}

		.emphasized {
			.font_size(26);
		}

		.divider {
			margin: 0;
		}

		&--more {
			float: right;
		}

	}

	&-title {
		text-transform: lowercase;
		@media @min {
			.font_size(32);	
		}
		@media @tablet {
			.font_size(50);	
		}
		@media @desktop {
			.font_size(50);	
		}
		margin-bottom: 0;
		font-weight: normal;
		line-height: 1;
		color: @black;
		.transition();
		&:after {
			//content: '.'
		}
		span {
			color: @lightGray;
		}
		&_sub {
			color: @black!important;
			@media @min {
				display: block;
				float: none;
			}
			@media @tablet {
				float: right;
			}
		}
		&_search {
			display: block;
			.transition();
			border-bottom: 1px solid fade(@black, 25%);
			width: 100%;
			font-weight: 500;
			color: @black;
			background: none;
			.font_size(42);
			&:focus {
				border-bottom: 1px solidfade(@black, 25%);
			}
			&::placeholder {
				color: fade(@black, 25%);
			}
		}
		&_wrapper {
			overflow: hidden;
			&.active {
				z-index: 999;
				.page-title {
					opacity: 0;
					transform: translateY(-100%);
				}
				.page-title_search {
					transform: translateY(-100%);
				}
			}
		}
	}

	::-webkit-scrollbar {
			display: none;
		}

	&-filters {
		//padding: @spaced/2 0;
		overflow-y: hidden;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			display: none;
		}
		a {
			color: @gray;
			&:hover {
				color: @black;
			}
		}
		&--inner {
			@media @min {
				width: auto;
			}
		}
	}

}