{% if template == 'index' %}
<div class="page-header">
   <div class="fs-row">
      <div class="fs-cell fs-all-full">
         <h1 class="page-title">Coterie</h1>
      </div>
   </div>
</div>
{% endif %}

<div id="header-wrapper">
   <?php 
      // Available Classes for #header:
      // .forehead: adds some space above the nav.
      // .fivehead: adds a bunch of space above the nav.
      // .chin: adds some space below the nav.
   ?>
   <header id="header" class="menu-swap">
      <div class="fs-row">
         <nav id="header--nav_left" class="fs-cell fs-lg-hide fs-md-hide fs-sm-1">
            <a href="/" class="btn btn-nav btn-logo">coterie</a>
         </nav>
         <nav id="header--nav_left" class="fs-cell fs-lg-8 fs-md-4 fs-sm-hide">
            {% if template != 'index' %}
            <a href="/" class="btn btn-nav btn-first">coterie</a>
            {% endif %}
            {% for link in linklists.main-menu.links %}
            <a href="{{ link.url }}" class="btn btn-nav {% if link.active %}btn-active{% endif %}">{{ link.title }}</a>
            {% endfor %}
         </nav>
         <nav id="header--nav_right" class="fs-cell fs-lg-4 fs-md-2 fs-sm-2 text-right">
            <a href="#" class="btn btn-nav swap right" data-swap-target=".cart-swap">cart (0)</a>
            <a href="?page=search" class="btn btn-nav">search</a>
            <a href="#" class="btn btn-nav btn-hamburg swap right" data-swap-target=".menu-swap">&nbsp;</a>
         </nav>
      </div>
   </header>
   <?php // Need to figure out how to append this with jQuery rather than by this method ?>
   <header id="header-mobile">
      <div class="fs-row">
         <nav id="header--logo-mobile" class="fs-cell fs-lg-6 fs-md-3 fs-sm-full">
            <a href="/collections/frontpage" class="btn btn-nav btn-close ss-gizmo ss-plus rotate-45"></a>
            <a href="/collections/frontpage" class="btn btn-nav">Shop</a>
            <a href="/collections/frontpage" class="btn btn-nav">Stockists</a>
            <a href="/collections/frontpage" class="btn btn-nav">Account</a>
         </nav>
      </div>
   </header>
   <div id="header--active" class="bg-color-lightPink menu-swap">
      <div class="fs-row">
         <div class="fs-cell fs-all-full"><hr class="invisible">Hello<hr class="invisible"></div>
      </div>
   </div>

</div>