<div id="product--images" class="image-gallery carousel" data-carousel-options='{"maxWidth":"980px", "pagination":false}'>
  {% for image in product.images %}
  <figure itemprop="associatedMedia" class="slide">
    <a itemprop="contentUrl" data-size="880x1130" href="{{ image | img_url: 'original' }}">
      <img src="{{ image | img_url: '1024x1024' }}" itemprop="thumbnail" class="img-responsive" alt="" />
    </a>
  </figure>
  {% endfor %}
</div>

