<div id="page" class="desktop-12 mobile-3">
  
  <div class="desktop-7 mobile-3">
      <h1>{{ page.title }}</h1>

    <div class="rte">{{ page.content }}</div>
  </div>
  


<div class="desktop-5 mobile-3">
  
  {% include 'contact' %}
  
  </div>  
  
</div>
