<div class="carousel" data-carousel-options='{"controls":{"container":".carousel--controls","next":".carousel--next","previous":".carousel--prev"}}'>
  <div class="carousel--slide">
    <div class="home-module home-module--nomargin_top wallpaper banner banner-large fs-cell fs-full-all" data-background-options='{"source":{"0px":"/assets/IMG_1406-mobile.jpg","740px":"/assets/IMG_1406.jpg"}}'>
      <div class="centered centered-top centered-full fs-all-full fs-md-6 fs-sm-3 fs-contained">
        <div class="fs-row">
          <div class="fs-cell fs-all-full text-left">
            <p>
              new arrivals:<br>
              <a href="?page=brand&name=common projects">common projects.</a><br>
              <div class="carousel--controls">
                <small><button class='carousel--next ss-gizmo ss-left btn-icon btn-first'></button></small>
                <small><button class='carousel--prev ss-gizmo ss-right btn-icon btn-last'></button></small>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel--slide">
    <div class="home-module home-module--nomargin_top wallpaper banner banner-large fs-cell fs-full-all" data-background-options='{"source":"/assets/IMG_1388.jpg"}'>
      <div class="centered centered-top centered-full fs-all-full fs-md-6 fs-sm-3 fs-contained">
        <div class="fs-row">
          <div class="fs-cell fs-all-full text-left">
            <p>
              featured:<br>
              <a href="?page=brand&name=common projects">shop tour.</a><br>
              <div class="carousel--controls">
                <small><button class='carousel--next ss-gizmo ss-left btn-icon btn-first'></button></small>
                <small><button class='carousel--prev ss-gizmo ss-right btn-icon btn-last'></button></small>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>