<div class="coming-soon covered bg-color-black zIndex-top">
<div class="coming-soon_centered centered">
<div class="fs-cell fs-all-full text-center color-gray">
<h1 class="color-white">co-te-rie.com is re-launching soon.</h1>
<span>visit us:</span><br>
<span>2906 rowena ave.</span><br>
<span>silverlake, ca, 90039</span> <br>
<span>323 444 1212</span><br>
</div>
</div>
</div>