{% include 'page-header' %}

<div class="fs-row">

{% comment %}
Keep this stuff for later...
{% include 'search-bar' %}
{% endcomment %}

{% assign width = 'fs-cell fs-xl-fourth fs-lg-third fs-md-2 fs-sm-half fs-xs-half' %}

{% paginate search.results by 10 %}
{% for item in search.results %}
<div class="product-grid_item {{ width }}">{% include 'search-grid--item' %}</div>
{% endfor %}
{% endpaginate %}

{% if paginate.pages > 1 %}
<hr class="invisible">
<div class="fs-row">
<div class="fs-cell fs-full-all pagination">
{{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
</div>
</div>
{% endif %}

</div>