<div class="coming-soon covered bg-color-black zIndex-top">
<div class="coming-soon_centered centered">
<div class="fs-cell fs-all-full text-center color-gray">
<h1 class="color-white">co-te-rie.com<br>is re-launching soon.</h1>
<span>visit us:</span><br>
<span>2906 rowena ave.</span><br>
<span>los angeles, ca, 90039</span> <br>
<a class="color-gray" href="mailto:info@co-te-rie.com">info@co-te-rie.com</a>
</div>
</div>
</div>